:root{
	--bg: #f9ede9;
	--theme1: #dc416d;
	--theme2: #a5dcae;
	--theme3: #83d2e4c7;
	--theme4: #94832d;
}

h1{
	text-align: center;
	font-size: 250%;
	color: var(--theme1);
	background-color: var(--theme2);
	margin: 0;
	padding-bottom: 5px;
	font-weight: bold;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

a{
	color: var(--theme2);
	text-decoration: none;
}

div.content a:hover, div.content a:focus{
	color: var(--theme1);
	text-decoration: underline;
}

nav{
	margin: 0;
	background-color: var(--theme1);
	padding: 0;
	width: 100%;
	font-size: 90%;
	text-align: center;
	position: fixed;
	z-index: 1000;
	top: 0;
	border-bottom: 1px solid var(--theme4);
}

nav ul{
	margin: 0;
	list-style: none;
}

nav ul li{
	display: inline-block;	
	font-size: 120%;
	padding: 0.3%;
	margin-left: 3%;
	margin-right: 3%;
}

nav ul li a{
	color: var(--theme2);
	text-decoration: none;
	transition: all 0.2s linear;
}

nav ul li a:hover, nav ul li a:focus{
	color: var(--theme4);
	transform: translateX(0.1);
}


::selection {
  background: var(--theme3); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--theme3); /* Gecko Browsers */
}

body{
	font-family: 'Exo 2', 'calibri', sans-serif;
	font-size: 90%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg);
}

div.content{
	padding-left: 0%;
	padding-right:0%;
	font-size: 100%;
	width: 90%;
	margin: auto;
}

h2{
	text-align: center;
	font-weight: normal;
	padding-left: 10px;
	color: var(--theme2)
}

#canvas{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 5px;
}

img{
	padding: 2%;
	padding-left: 0;
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

@media only screen and (min-width:801px) {
	div.content {
		font-size: 100%;
		width: 60%;
	}
	h1{
		height: 200px;
	}
	body{
		font-size: 110%;
	}
	div.content{
		padding: 1%;
		margin-top: 0;
		margin-bottom: 0;
	}
}
